<!DOCTYPE html>
<html>
  <head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/page_1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/page_1/data.js"></script>
    <link rel="stylesheet" href="css/index-add.css">
    <link rel="stylesheet" href="files/home/styles.css">
    <link rel="stylesheet" href="files/page_1/styles.css">
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u42" class="ax_default label">
        <div id="u42_div" class=""></div>
        <div id="u42_text" class="text ">
          <p><span>关键词：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u43" class="ax_default box_1">
      </div>

      <!-- Unnamed (Image) -->
      <div id="u44" class="ax_default image">
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u45" class="ax_default label">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>我司商品：</span></p>
        </div>
      </div>


      <!-- Unnamed (Horizontal Line) -->
      <div id="u54" class="ax_default line">
        <img id="u54_img" class="img " src="images/page_1/u54.png"/>
      </div>


      <!-- Unnamed (Rectangle) -->
      <div id="u56" class="ax_default box_2">
        <div id="u56_div" class=""></div>
      </div>


      <!-- Unnamed (Image) -->
      <div id="u59" class="ax_default image">
      </div>


      <!-- Unnamed (Rectangle) -->
      <div id="u66" class="ax_default label">
        <div id="u66_div" class=""></div>
        <div id="u66_text" class="text ">
          <p><span>排名方式：</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u67" class="ax_default droplist">
        <select id="u67_input" onchange="f1()">
          <option selected value="3">&nbsp; 搜索排名+广告排名</option>
          <option value="0">&nbsp; 只显示搜索排名</option>
          <option value="1">&nbsp; 只显示广告排名</option>
        </select>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='js/page_1.js'></script>
</html>
