body,dd,div,dl,dt,h1,h2,h3,h4,html,input,li,p,ul{margin:0;padding:0}
em,i{font-style:normal}
dl,ul{list-style-type:none}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:none;outline:0}
a:focus{outline:0}
a:active,a:hover{outline:0}
img{border:0;vertical-align:middle}.left{float:left}.right{float:right}.inline{display:inline-block}.hide{display:none}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;font-size:0}

/**/







