<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhz.selenium.mapper.LcAmazonApiMapper">

    <resultMap id="AmazonResult" type="com.zhz.selenium.pojo.ApiResult">
        <result column="amz_asin" property="amzAsin" />
        <result column="amz_product_normal_count" property="normalCount" />
        <result column="amz_product_not_normal_count" property="notNormalCount" />
        <result column="unit_order" property="unitOrder" />
        <result column="clicks" property="clicks" />
        <result column="day7_totalOrders" property="day7TotalOrders" />
        <result column="Customer_Search_Term" property="customerSearchTerm" />
        <result column="cpc" property="cpc" />
        <result column="impressions" property="impressions" />
        <result column="title" property="title" />
        <result column="img" property="img" />
        <result column="start_date" property="startDate" />

    </resultMap>

    <resultMap id="AmazonChildResult" type="com.zhz.selenium.pojo.ApiChildResult">
        <result column="child_asin" property="childAsin" />
        <result column="child_asin_session" property="childAsinSession" />
        <result column="child_unit_order" property="childUnitOrder" />
        <result column="child_clicks" property="childClicks" />
        <result column="child_spend" property="childSpend" />
        <result column="child_day7_totalOrders" property="childDay7TotalOrders" />
        <result column="child_impressions" property="childImpressions" />
        <result column="child_Day7_OtherSKU_Units" property="childDay7OtherSKUUnits" />
        <result column="child_Day7_AdvertisedSKU_Units" property="childDay7AdvertisedSKUUnits" />
        <result column="child_Day7_TotalUnits" property="childDay7TotalUnits" />
        <result column="child_total_order_items" property="childTotalOrderItems" />
    </resultMap>

    <resultMap id="AmazonOther" type="com.zhz.selenium.pojo.ApiOther">
        <result column="campaign_name" property="campaignName" />
        <result column="keyword_target" property="keywordTarget" />
        <result column="p_asin" property="paramAsin" />
    </resultMap>


    <select id="selectRankSearchterm" resultMap="AmazonResult">
        select product_asin as amz_asin,IFNULL(amz_product_normal_count,0) as amz_product_normal_count,
        IFNULL(amz_product_not_normal_count,0) as amz_product_not_normal_count
        from tab_product_location  where keyword=#{keyWord}
        and  DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(search_date)
    </select>


    <select id="selectSalesAsin" resultMap="AmazonChildResult">
        select IFNULL(max(c.asin_session ),0) child_asin_session ,IFNULL(max(c.unit_order),0) child_unit_order,
                max(b.Advertised_ASIN) as child_asin,sum(a.Impressions) as child_impressions,IFNULL(max(c.total_order_items),0) child_total_order_items
        from searchterm a
        inner JOIN  (select distinct campaign_id,Advertised_ASIN from  amzasin) b on a.campaign_id=b.campaign_id
        left join
        (select sum(asin_session) asin_session,child_asin,sum(unit_order) unit_order,sum(total_order_items)  as total_order_items from  sp_api_report   where  child_asin=#{asin} and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(create_date)) C on b.Advertised_ASIN=c.child_asin
        where
        b.Advertised_ASIN=#{asin}
        and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(a.date)
        GROUP BY b.Advertised_ASIN
    </select>

    <select id="selectSellAsin" resultMap="AmazonChildResult">
        select IFNULL(sum(a.Day7_TotalOrders) ,0) child_day7_totalOrders,IFNULL(sum(a.Day7_OtherSKU_Units),0) as child_Day7_OtherSKU_Units,
        IFNULL(sum(a.Day7_AdvertisedSKU_Units),0) as child_Day7_AdvertisedSKU_Units,IFNULL(sum(a.Day7_TotalUnits),0) as child_Day7_TotalUnits,
        IFNULL(sum(a.Clicks),0) child_clicks,IFNULL(sum(a.Spend),0) child_spend
        from amzasin a
        where a.Advertised_ASIN=#{asin}
        and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(a.Start_Date)
    </select>

    <select id="selectKeywordsAsin" resultMap="AmazonResult">
        select a.Customer_Search_Term,sum(a.Clicks) as clicks,round(sum(a.Spend)/sum(a.Clicks),2) cpc,max(c.unit_order) unit_order,sum(a.Day7_TotalOrders) Day7_TotalOrders,
        sum(a.impressions) as impressions
        from searchterm a
        inner JOIN  (select distinct campaign_id,Advertised_ASIN from  amzasin) b on a.campaign_id=b.campaign_id
        left join
        (select child_asin,sum(unit_order) unit_order from  sp_api_report   where  child_asin=#{asin} and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(create_date)) c
        on b.Advertised_ASIN=c.child_asin
        where
        b.Advertised_ASIN=#{asin}
        and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(a.date)
        GROUP BY a.Customer_Search_Term
        ORDER BY clicks desc
        limit 20
        
    </select>

    <select id="selectRankAsin" resultMap="AmazonResult">
        select tmp_search.keyword as Customer_Search_Term,tmp_search.amz_product_normal_count,tmp_search.amz_product_not_normal_count from

        (select  keyword,search_date,min(IFNULL(amz_product_normal_count,0)) amz_product_normal_count ,min(IFNULL(amz_product_not_normal_count,0) ) amz_product_not_normal_count
        from tab_product_location
        where product_asin=#{asin}
        group by keyword,search_date) as tmp_search

        inner  join
        (
        select keyword,max(search_date) search_date from

        (select  keyword,search_date,min(IFNULL(amz_product_normal_count,0)) amz_product_normal_count ,min(IFNULL(amz_product_not_normal_count,0) ) amz_product_not_normal_count
        from tab_product_location
        where product_asin=#{asin}
        group by keyword,search_date) as  tab

        group by keyword) tab1 on tmp_search.keyword=tab1.keyword and tmp_search.search_date=tab1.search_date
    </select>

    <select id="listingDetail" resultMap="AmazonResult">
        select asin as amz_asin,title,img,date_sub(curdate(), INTERVAL ${dateRange} DAY) as start_date from asin_list_detail where asin=#{asin}
    </select>

    <select id="selectChildAsin" resultMap="AmazonChildResult">
        select child_asin from sp_api_report
        where  parent_asin = (select  parent_asin from sp_api_report where child_asin=#{childAsin} order by create_date desc limit 1)
        and child_asin !=#{childAsin}
        GROUP BY child_asin
    </select>

    <select id="getNewDate" resultType="java.lang.String">
	    select max(date) as new_date from searchterm
    </select>

    <select id="selectRankSearchtermByNewDate" resultType="java.lang.String">
	    select DATE_FORMAT(max(search_date),'%Y-%m-%d') as new_date
        from tab_product_location  where keyword=#{keyWord}
    </select>


    <select id="selectCampaignTarget" resultMap="AmazonOther">
        select distinct Campaign_Name as campaign_name,targeting  as keyword_target,
        (select Advertised_ASIN from  amzasin where Advertised_ASIN =#{asin} limit 1) as p_asin
        from  searchterm
        where
        campaign_id in (select distinct campaign_id from  amzasin where Advertised_ASIN =#{asin} and date_sub(curdate(), INTERVAL ${dateRange} DAY)  &lt;=  date(Start_Date))
        and date_sub(curdate(), INTERVAL ${dateRange} DAY) &lt;=  date(date)
    </select>

    <select id="selectSpApiReportNewDate" resultType="java.lang.String">
        select DATE_FORMAT(max(create_Date),'%Y-%m-%d') as new_date  from sp_api_report
    </select>

</mapper>


